a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
